{% extends "experiment_creator/base.html" %}
{% load experiment_creator_tags %}

{% block breadcrumbs %}
<li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
<li><a href="{{group.get_absolute_url}}"><i class="fa fa-users"></i>&nbsp;{{group.name}}</a></li>
<li class="current">Add members to group</li>
{% endblock breadcrumbs %}


{% block content %}
<div class="row">
  <div class="large-12 columns">
    <h3>Current members of {{group.name}}</h3>
    <div class="row small-up-1 medium-up-3 large-up-4">
      {% for s in group.get_members|dictsort:"last_name" %}
      {% render_user s %}
      {% endfor %}
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <h3>Add members to {{group.name}}</h3>
    <form enctype="multipart/form-data" action="{% url 'add_members_group' group_id=group.id %}" method="post">
      {% csrf_token %}
      {{form.as_table}}
      <input type="submit" class="button radius" value="Add members">
    </form>
  </div>
</div>
{% endblock content %}
