{% extends "experiment_creator/base.html" %}
{% load staticfiles comments comments_xtd filer_tags activity_tags %}

{% block breadcrumbs %}
<li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
{% with group=feedback_target.group experiment=feedback_target.experiment course=feedback_target.group.course %}
<li><a href="{{course.get_absolute_url}}"><i class="fa fa-university"></i>&nbsp;{{course.name}} - {{course.term}} {{course.year}}</a></li>
<li><a href="{{group.get_absolute_url}}"><i class="fa fa-users"></i>&nbsp;{{group.name}}</a></li>
<li><a href="{{experiment.get_absolute_url}}"><i class="fa fa-flask"></i>&nbsp;{{experiment.name}}</a></li>
{% endwith %}
<li><a href="{{feedback_target.get_absolute_url}}">{{feedback_type}}</a></li>
<li class="current"><i class="fa fa-comment-o"></i>&nbsp;Add feedback</li>
{% endblock breadcrumbs %}

{% block content %}
<div class="row">
  <div class="large-12 columns">
    {% render_comment_form for feedback_target %}
  </div>
</div>
{% endblock %}
