{% extends "experiment_creator/base.html" %}
{% load activity_tags %}

{% block breadcrumbs %}
<li class="current">Admin Dashboard</li>
{% endblock breadcrumbs %}

{% block content %}
<hr/>
<div class="row">
  <div class="large-12 columns">
    <h2>Course Admin Dashboard</h2>
  </div>
</div>
<div class="row">
  <div class="large-4 large-centered large-offset-4 end">
    <h2>Design Proposals</h2>
  </div>
</div>
<div class="row">
  <div class="large-3 columns">
    <h3>Updated But No Approval Requested</h3>
    <ul>
      {% if revised_designs %}
      {% for design in revised_designs %}
        <li>
          ({{design.group.course}}) {{design.group.name}} - {{design.experiment.name}}
        </li>
      {% endfor %}
      {% else %}
      <li>No designs updated but not requested approval</li>
      {% endif %}
    </ul>
  </div>
  <div class="large-3 columns">
    <h3 class="revision">Revision Requested</h3>
    <ul>
      {% if rejected_designs %}
      {% for design in rejected_designs %}
        <li>
          ({{design.group.course}}) {{design.group.name}} - {{design.experiment.name}}
          <a href="{% url 'review_design' design_id=design.id %}" class="button tiny radius">Review</a>
        </li>
      {% endfor %}
      {% else %}
      <li>No designs requiring revision</li>
      {% endif %}
    </ul>
  </div>
  <div class="large-3 columns">
    <h3 class="needsaction">Pending Approval</h3>
    <ul>
      {% if pending_designs %}
      {% for design in pending_designs %}
        <li>
          ({{design.group.course}}) {{design.group.name}} - {{design.experiment.name}}
          <a href="{% url 'review_design' design_id=design.id %}" class="button tiny radius">Review</a>
        </li>
      {% endfor %}
      {% else %}
      <li>No designs pending</li>
      {% endif %}
    </ul>
  </div>
  <div class="large-3 columns">
    <h3 class="approved">Approved</h3>
    <ul>
      {% if approved_designs %}
      {% for design in approved_designs %}
        <li>
          ({{design.group.course}}) {{design.group.name}} - {{design.experiment.name}}
          <a href="{% url 'review_design' design_id=design.id %}" class="button tiny radius">Review</a>
        </li>
      {% endfor %}
      {% else %}
      <li>No designs approved</li>
      {% endif %}
    </ul>
  </div>
</div>
<div class="row">
  <div class="large-4 large-centered large-offset-4 end">
    <h2>Stimuli</h2>
  </div>
</div>
<div class="row">
  <div class="large-3 columns">
    <h3>Uploaded But Not Requested Approval</h3>
    {% if new_stimuli %}
    {% for stimuli in new_stimuli %}
      <li>
        ({{stimuli.group.course}}) {{stimuli.group.name}} - {{stimuli.experiment.name}}: {{stimuli.get_status_display}}
      </li>
    {% endfor %}
    {% else %}
    <p>No stimuli currently uploaded but not requested approval</p>
    {% endif %}
  </div>
  <div class="large-3 columns">
    <h3 class="revision">Revision Requested</h3>
    <ul>
      {% if rejected_stimuli %}
      {% for stimuli in rejected_stimuli %}
        <li>
          ({{stimuli.group.course}}) {{stimuli.group.name}} - {{stimuli.experiment.name}}
          <a href="{% url 'review_stimuli' stimuli_id=stimuli.id %}" class="button tiny radius">Review</a>
        </li>
      {% endfor %}
      {% else %}
      <li>No stimuli requiring revision</li>
      {% endif %}
    </ul>
  </div>
  <div class="large-3 columns">
    <h3 class="needsaction">Pending Approval</h3>
      {% if pending_stimuli %}
      <ul>
      {% for stimuli in pending_stimuli %}
        <li>
          ({{stimuli.group.course}}) {{stimuli.group.name}} - {{stimuli.experiment.name}}
          <a href="{% url 'review_stimuli' stimuli_id=stimuli.id %}" class="button tiny radius">Review</a>
        </li>
      {% endfor %}
      </ul>
      {% else %}
      <p>No stimuli pending</p>
      {% endif %}
  </div>
  <div class="large-3 columns">
    <h3 class="approved">Approved</h3>
    <ul>
      {% if approved_stimuli %}
      {% for stimuli in approved_stimuli %}
        <li>
          ({{stimuli.group.course}}) {{stimuli.group.name}} - {{stimuli.experiment.name}}
          <a href="{% url 'review_stimuli' stimuli_id=stimuli.id %}" class="button tiny radius">Review</a>
        </li>
      {% endfor %}
      {% else %}
      <li>No stimuli approved</li>
      {% endif %}
    </ul>
  </div>
</div>
<div class="row">
    <div class="large-4 large-centered large-offset-4 end">
        <h2>Experiments</h2>
    </div>
</div>
<div class="row">
    <div class="large-4 columns">
        <h3>Ready for testing</h3>
        <ul>
        {% if staff_testing %}
        {% for experiment in staff_testing %}
            <li>
            {{ experiment.name }}
            <a href="{% url 'review_experiment' experiment_id=experiment.id %}" class="button tiny radius">Review</a>
            </li>
        {% endfor %}
        {% else %}
        <li>No experiments ready for staff testing</li>
        {% endif %}
        </ul>
    </div>
    <div class="large-4 columns">
        <h3>Ready for run</h3>
        <ul>
        {% if running_experiments %}
        {% for experiment in running_experiments %}
            <li>
            {{ experiment.name }}
            <a href="{% url 'review_experiment' experiment_id=experiment.id%}" class="button tiny radius">Review</a>
            <a href="{% url 'prerun_check' experiment_id=experiment.id%}" class="button tiny radius">Pre-run Check</a>
            </li>
        {% endfor %}
        {% else %}
            <li>No experiments ready to run</li>
        {% endif %}
        </ul>
    </div>
    <div class="large-4 columns">
        <h3>Ready for analysis</h3>
        <ul>
        {% if analysis_experiments %}
        {% for experiment in analysis_experiments %}
            <li>
            {{ experiment.name }}
            <a href="">Review</a>
            </li>
        {% endfor %}
        {% else %}
            <li>No experiments ready to analyze</li>
        {% endif %}
        </ul>
    </div>
</div>
{% endblock content %}
