{% extends "experiment_creator/base.html" %}

{% block content %}
<div class="row">
  <div class="large-12 columns">
    <p>Only University of Rochester GMail accounts can be used to sign in.</p>
  </div>
{% endblock content%}
