{% load staticfiles %}
{% load experiment_creator_tags %}
<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en"> <![endif]-->
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %} {% endblock title %}</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}" />
    {% block site_css %}{% endblock site_css %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
  </head>
  <body>
    {% if messages %}
    <section>
      <div class="row">
        <div class="messages large-6 columns end">
          {% for msg in messages %}
            <div class="{{msg.level_tag|alert_level}} callout small" data-closable>
              <p><i class="fa fa-{{msg.level_tag|icon_level}}" style="font-size:x-large;"></i>&nbsp;{{msg.message}}</p>
              <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
    {% endif %}
    <header>
      <div class="row">
        <div class="large-2 columns">
          <img src="{% static "UR.v2.svg" %}" width="123" height="100" alt="University of Rochester"/>
        </div>
        <div class="large-4 large-offset-6 columns">
        {% if user.is_authenticated %}
          <div class="row">
            <div class="large-8 columns">
              <p><span {% if user.is_staff %}class="staff"{% endif %}>Hello, {{user.profile.get_display_name}}!</span> <a href="{% url 'account_logout' %}">[Logout]</a></p>
              <p>Last login: {{ user.last_login|date:"r" }}</p> {# D d M Y P #}
            </div>
            <div class="large-4 columns">
              <div class="user-icon-75" style="background-image: url({{ request.user.profile.profile_image_url }});"><p><i class="fa fa-user"></i>&nbsp;<a href="{{ request.user.profile.profile_url }}">{{request.user.username}}</a></p></div>
            </div>
          </div>
        {% else %}
          <a href="{% url 'account_login' %}">[Login]</a>
        {% endif %}
        </div>
      </div>
      {% if user.is_staff %}
      <div class="row">
        <div class="large-12 columns">
          <div class="top-bar">
            <div class="top-bar-title">
              <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
                <button class="menu-icon dark" type="button" data-toggle></button>
              </span>
              <strong>Admin</strong>
            </div>
            <div id="responsive-menu">
              <div class="top-bar-left">
                <ul class="dropdown menu" data-dropdown-menu>
                  <li><a href="{% url 'admin_dashboard' %}">Admin Dashboard</a></li>
                  <li><a href="{% url 'manage_courses' %}">Manage courses</a></li>
                  <li>
                    <a href="#">Manage groups</a>
                    <ul class="menu vertical">
                      {% for c in user.managed_courses.all %}
                      <li>
                        <a href="#">{{c.name}} ({{c.term}} {{c.year}})</a>
                        <ul class="menu">
                          {% for g in c.coursegroup_set.all %}
                          <li><a href="{% url 'manage_group' g.id %}"><i class="fa fa-users"></i>&nbsp;{{g.name}}</a></li>
                          {% endfor %}
                          <li><a href="{% url 'create_group' year=c.year term=c.term course_slug=c.slug %}"><i class="fa fa-plus"></i>&nbsp;Create new group</a></li>
                        </ul>
                      </li>
                      {% endfor %}
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="top-bar-right">
                <ul class="menu">
                  <li><a href="{% url 'admin:index' %}">Django admin site</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </header>
    <div class="row">
      <div class="large-12 columns">
        <ul class="breadcrumbs">
          {% block breadcrumbs %}{% endblock breadcrumbs %}
        </ul>
      </div>
    </div>
    {% block content %} {% endblock content %}
    <footer>
      <div class="row">
        <div class="large-8 columns large-centered">
          <p>Copyright © 2015-2016 University of Rochester - Brain and Cognitive Sciences Department</p>
          <p>Experiencing technical problems? Contact us: <a href="mailto:{{ADMIN_CONTACT_EMAIL.email}}">{{ADMIN_CONTACT_EMAIL.name}}</a></p>
      </div>
    </div>
    </footer>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/what-input/2.1.1/what-input.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.js"></script>
    <script type="text/javascript">$(document).foundation();</script>
    {% block site_js %}{% endblock site_js %}
  </body>
</html>
