{% load i18n %}
{% load comments comments_xtd %}

{% for item in comments %}

<div class="row" id="c{{ item.comment.id }}">
  <div class="large-12 columns commentbox">
    <div class="row">
      <div class="large-1 columns">
        <img src="{{item.comment.user.profile.profile_image_url}}" width="50px" height="50px" style="border-radius: 7px;"/>
      </div>
      <div class="large-6 columns end">
        <p><span style="font-weight:bold;">{{item.comment.name|default:item.comment.user}}</span>
          {% if item.comment.user.is_staff %}&nbsp;<i class="fa fa-check-square-o" aria-hidden="true" style="color:green;"></i>{% endif %}
          <span style="color: darkgray">&#8226; {{item.comment.submit_date}} &#8226;</span>
          <a href="{{item.comment.get_absolute_url}}">#{{ item.comment.id }}</a>
          {% if item.comment.user.is_staff %}<a class="tiny hollow button alert" href="{% url 'comments-delete' item.comment.id %}">{% trans "Delete" %}</a>{% endif %}
        </p>
        <hr/>
      </div>
    </div>

    <div class="row">
      <div class="large-11 columns large-offset-1">
        {% if item.comment.is_removed %}
        <p>{% trans "This comment has been removed." %}</p>
        {% else %}
        <p>
          <i class="fa fa-quote-left" aria-hidden="true"></i>{{ item.comment.comment|render_markup_comment }}<i class="fa fa-quote-right" aria-hidden="true"></i>
          <br/>
          {% if item.comment.allow_thread and not item.comment.is_removed %}
          <a class="small mutedlink" href="{{ item.comment.get_reply_url }}">
            {% trans "Reply" %}
          </a>
          {% endif %}
        </p>
        {% endif %}
      {% if not item.comment.is_removed and item.children %}
        {% include "experiment_creator/comments_tree.html" with comments=item.children %}
      {% endif %}
      </div>
    </div>
  </div>
</div>

{% endfor %}
