{% extends "experiment_creator/base.html" %}
{% block breadcrumbs %}
<li><a href="{% url 'dashboard' %}">Dashboard</a></li>
<li class="current">{{course.name}} - {{course.term}} {{course.year}}</li>
{% endblock breadcrumbs %}

{% block content %}
<div class="row">
  <div class="large-12 columns">
    <h3>Students</h3>
    <ul class="fa-ul">
    {% for s in course.students.all %}
      <li><i class="fa-li fa fa-user"></i>{{s.get_full_name}}</li>
    {% endfor %}
    </ul>
    <h3>Groups</h3>
    <ul class="fa-ul">
    {% for group in course.coursegroup_set.all %}
      {% with total=group.get_members|length %}
      <li><i class="fa-li fa fa-users"></i><a href="{{group.get_absolute_url}}">{{group.name}}</a> ({{total}} member{{total|pluralize}})
      {% endwith %}
        <ul class="fa-ul">
          {% for member in group.get_members|dictsort:"last_name" %}
          <li {% if member.is_staff %}class="staff"{% endif %}><i class="fa-li fa fa-user"></i>{{member.get_full_name}}</li>
          {% endfor %}
        </ul>
      </li>
      {% if user not in group.user_set.all %}
      <a class="button radius tiny" href="{% url 'request_group_membership' group.id %}">Request "{{group.name}}" Membership</a>
      {% endif %}
    {% endfor %}
    </ul>
    {% if user.is_staff %}
    <a class="button radius" href="{% url 'create_group' year=course.year term=course.term course_slug=course.slug %}">Create A New Group</a>
    {% endif %}
  </div>
</div>
{% endblock content %}
