{% extends "experiment_creator/base.html" %}
{% load staticfiles %}
{% load pipeline %}

{% block site_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/create_design.css' %}" />
{% endblock site_css %}

{% block breadcrumbs %}
<li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
<li><a href="{{course.get_absolute_url}}"><i class="fa fa-university"></i>&nbsp;{{course.name}} - {{course.term}} {{course.year}}</a></li>
<li><a href="{{group.get_absolute_url}}"><i class="fa fa-users"></i>&nbsp;{{group.name}}</a></li>
<li><a href="{{experiment.get_absolute_url}}"><i class="fa fa-flask"></i>&nbsp;{{experiment.name}}</a></li>
<li class="current"><i class="fa fa-pencil"></i>&nbsp;Experiment Design</li>
{% endblock breadcrumbs %}


{% block content %}
<script id='ex_alert' type='text/ractive'>
  {% verbatim %}
  <div data-closable class='callout {{type === "error" ? "alert" : "" }} {{type === "success" ? "success" : "" }} {{type === "warning" ? "warning" : "" }}'>
  {{message}}
  <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>
  </div>
  {% endverbatim %}
</script>

<script id='template' type='text/ractive'>
{% verbatim %}

<div class="row">
  <div class="messages large-6 columns end" id="errorlist">
  {{#alerts}}
    {{>ex_alert}}
  {{/alertss}}
  </div>
</div>

<section>
  <label for="listcount">Experiment Name</label>
  <input class='new-factor' on-keydown='inputKeypress(event)' id="exname" placeholder='Experiment name' value="{{exname}}" autofocus>
</section>
<section>
  <label for="participants">Number of participants</label>
  <input class='new-factor' on-keydown='inputKeypress(event)' id="participants" placeholder='Number of participants' value="{{participants}}" autofocus>
</section>
<section>
  <label for="listcount">Number of critical items (Usually the same as number of critical items per list)</label>
  <input class='new-factor' on-keydown='inputKeypress(event)' on-blur='checkCounts(event)' id="listcount" placeholder='Number of list items' value="{{trialcount}}" autofocus>
</section>
<section>
  <label for="fillercount">Number of filler items (Usually the same as number of filler items per list)</label>
  <input class='new-factor' on-keydown='inputKeypress(event)' on-blur='checkCounts(event)' id="fillercount" placeholder='Number of filler items' value="{{fillercount}}" autofocus>
</section>
<hr/>
<h4>Manipulations</h4>
<p>Hover over any manipulation or level to to delete it with the <span style="color:red;font-size: 22px;">X</span>.</p>
<p>You can double click any manipulation or level text to edit its name.</p>
<header>
  <input class='new-factor' on-keydown='inputKeypress(event)' on-change='createManipulation(event)' placeholder='Add a manipulation to the design'>
</header>
{{#if manipulations.length}}
<section class='main'>
  <ul class='factor-list'>
  {{#each manipulations:i}}
    <li class='item {{ currentlyEditingManip === i ? "editing" : "" }}'>Manipulation{{i+1}}:
      <div class='view'>
      <label on-dblclick='set("currentlyEditingManip",i)'>{{name}}</label>
      <button on-click='removeManipulation(event,i)' class='destroy'></button>
      </div>
      {{#if currentlyEditingManip === i}}
      <div class='edit-container'>
        <input
          decorator='select'
          class='edit'
          value='{{name}}'
          on-blur-change='submitManipulationEdit(event, i)'
        >
      </div>
      {{/if}}
      </li>
      <div class="levels">
        <h5>Factor levels for manipulation <i>{{name}}</i></h5>
        <p>(these are the condition names that will be used to auto-generate a stimulus
          file; these same names will also be used in the result report we will auto-generate
          for you)
        </p>
        <header>
          <input class='new-factor' on-keydown='inputKeypress(event)' on-change='createFactor(event)' placeholder='Add a level to "{{name}}"'>
        </header>
        <hr/>
        {{#if items.length}}
        <section class='main'>
          <ul class='factor-list'>
          {{#each items:k}}
            <li class='item {{ (currentlyEditingFactor === i && currentlyEditingLevel === k) ? "editing" : "" }}'>{{name}} - Level {{k+1}}:
              <div class='view'>
              <label on-dblclick='setFactorEdit(i,k)'>{{this}}</label>
              <button on-click='removeFactor(event,i,k)' class='destroy'></button>
              </div>
              {{#if (currentlyEditingFactor === i && currentlyEditingLevel === k)}}
              <div class='edit-container'>
                <input
                  decorator='select'
                  class='edit'
                  value='{{this}}'
                  on-blur-change='submitFactorEdit(event, i, k)'
                >
              </div>
            {{/if}}
            </li>
          {{/each}}
          </ul>
        </section>
        {{/if}}
      </div>
  {{/each}}
  </ul>
</section>
{{/if}}

<section class="footer">
  <span class='level-count'>
    You have a {{#if manipulations.length}}{{#manipulations:i}}{{items.length}}{{ i < (items.length-1) ? "x" : "" }}{{/manipulations}}{{/if}} level design with {{trialcount}} items and {{fillercount}} fillers per list. You have requested {{participants}} participants.
  </span>
</section>
{% endverbatim %}
</script>

<div class="row">
  <div class="large-12 columns">
    <h3>Submit Experiment Design</h3>
      {% if experiment.stimulidesign.status == 'APP' %}
          <p style="color: red; font-weight: bold; font-size: larger;">Note: revising an approved design requires fresh approval</p>
      {% endif %}
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <h4>Experiment Proposal</h4>
    <textarea name="proposal"></textarea>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <form action="{% url 'get_set_design' experiment_id=experiment.id %}">
      {% csrf_token %}
      <div class="large-12 columns">
        <h4>Basic Design</h4>
        <div id='container'></div>
      </div>
      <div>
        <a href="{{experiment.get_absolute_url}}" rel="prev" class="button hidden">Back to experiment</a>
        <button type="submit" class="button">Save</button>
        <a href="{{request.META.HTTP_REFERER}}" class="button alert">Cancel</a>
        <a href="{% url 'request_design_approval' experiment_id=experiment.id %}" class="button success disabled">Request Approval</a>
      </div>
    </form>
  </div>
</div>

{% endblock content %}

{% block site_js %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/ractive/0.7.3/ractive.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/ckeditor/4.5.10/ckeditor.js"></script>
<script type="text/javascript">
  CKEDITOR.replace('proposal', {
      customConfig: "{% static 'js/ckeditor_settings/config.js' %}"
  });
</script>
{% javascript 'create_design' %}
{% endblock site_js %}
