{% extends "experiment_creator/base.html" %}
{% load experiment_creator_tags %}

{% block breadcrumbs %}
<li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
{% with course=experiment.group.course %}
<li><a href="{{course.get_absolute_url}}"><i class="fa fa-university"></i>&nbsp;{{course.name}} - {{course.term}} {{course.year}}</a></li>
{% endwith %}
<li><a href="{{experiment.group.get_absolute_url}}"><i class="fa fa-users"></i>&nbsp;{{experiment.group.name}}</a></li>
<li><a href="{{experiment.get_absolute_url}}"><i class="fa fa-flask"></i>&nbsp;{{experiment.name}}</a></li>
{% endblock breadcrumbs %}

{% block content %}
<div class="row">
    <div class="large-12 columns">
        <a href="https://requester.mturk.com/mturk/manageHITs">Manage MTurk HITs</a>
        <a href="https://requestersandbox.mturk.com/mturk/manageHITs">Manage Sandbox HITs</a>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <h3>HIT Batches for "{{ experiment.name }}"</h3>
        <ul class="accordion" data-accordion data-allow-all-closed="true" data-multi-expand="true">
        {% for batch in batches %}
            <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title">Batch #{{ forloop.counter }}</a>
                <div class="accordion-content" data-tab-content>
                    {% with props=batch.props %}
                    <p>{{ props.HITGroupId|mturk_preview:batch.sandbox }}</p>
                    <table>
                        <tbody>
                            <tr><td>Title</td><td>{{ props.Title }}</td></tr>
                            <tr><td>Description</td><td>{{ props.Description }}</td></tr>
                            <tr><td>Keywords</td><td>{{ props.Keywords }}</td></tr>
                            <tr><td>Reward</td><td>{{ props.FormattedPrice }}</td></tr>
                            <tr><td>Creation Time</td><td>{{ props.CreationTime|datestring_format }}</td></tr>
                            <tr><td>Expiration Time</td><td>{{ props.Expiration|datestring_format }}</td></tr>
                            <tr><td>Assignments Requested</td><td>{{ props.MaxAssignments }}</td></tr>
                            <tr><td>Assignments Pending</td><td>{{ props.NumberOfAssignmentsPending }}</td></tr>
                            <tr><td>Assignments Available</td><td>{{ props.NumberOfAssignmentsAvailable }}</td></tr>
                            <tr><td>HIT ID</td><td>{{ props.HITId }}</td></tr>
                            <tr><td>HIT Type ID</td><td>{{ props.HITTypeId }}</td></tr>
                            <tr><td>HIT Group ID</td><td>{{ props.HITGroupId }}</td></tr>
                            <tr><td>HIT Status</td><td>{{ props.HITStatus }}</td></tr>
                            <tr><td>HIT Review Status</td><td>{{ props.HITReviewStatus }}</td></tr>
                            <tr><td>Sandbox?</td><td>{{ batch.sandbox }}</td></tr>
                        </tbody>
                    </table>
                    {% endwith %}
                </div>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
