{% extends "experiment_creator/base.html" %}

{% block breadcrumbs %}
    <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
    {% with course=experiment.group.course %}
        <li><a href="{{course.get_absolute_url}}"><i class="fa fa-university"></i>&nbsp;{{course.name}} - {{course.term}} {{course.year}}</a></li>
    {% endwith %}
    <li><a href="{{experiment.group.get_absolute_url}}"><i class="fa fa-users"></i>&nbsp;{{experiment.group.name}}</a></li>
    <li><a href="{{experiment.get_absolute_url}}"><i class="fa fa-flask"></i>&nbsp;{{experiment.name}}</a></li>
    <li class="current">Staff Prepare to run - final check</li>
{% endblock breadcrumbs %}

{% block content %}
<div class="row">
    <div class="large-12 columns">
        <h3>{{ experiment.name }}</h3>
        <a href="https://requester.mturk.com/account" target="_blank">Amazon Requester Account</a> (prepay for HITs)
        <table>
            <thead>

            </thead>
            <tbody>
                <tr><td>Account balance:</td><td {% if not sufficient_funds %}style="color: red;"{% endif %}>${{ account_balance }}</td></tr>
                <tr><td>Requested participants:</td><td>{{ participants }}</td></tr>
                <tr><td>Number of lists:</td><td>{{ list_count }}</td></tr>
                <tr><td>Number of items &amp; fillers:</td><td>{{ total_items }}</td></tr>
                <tr><td>Participants per list:</td><td>{{ participants_per_list|floatformat:0 }}</td></tr>
                <tr><td>Automatically estimated duration:</td><td>{{ estimated_duration }} minutes</td></tr>
                <tr><td>Human estimated duration:</td><td>{{ duration }} minutes</td></tr>
                <tr><td>Price per HIT (based on $6/hr):</td><td>${{ hit_price|floatformat:2 }}</td></tr>
                <tr><td>Base HIT cost:</td><td>${{ base_hit_cost|floatformat:2 }}</td></tr>
                <tr><td>Amazon's cut:</td><td>{{ amazon_cut|floatformat:3 }}%</td></tr>
                <tr><td>Total HIT cost:</td><td {% if account_balance < total_hit_cost %}style="color: red;"{% endif %}>${{ total_hit_cost|floatformat:3 }}</td></tr>
            </tbody>
        </table>
        {% if not sufficient_funds %}
        <p style="color: red;">Insufficient funds to proceed.</p>
        {% endif %}

        {% if user.profile.can_run_experiments %}
        <a href="{% url 'run_on_mturk' experiment_id=experiment.id %}" class="button success" {% if not sufficient_funds %}disabled="disabled"{% endif %}>Sign off and Run on Mechanical Turk</a>
        <a href="{% url 'run_on_sandbox' experiment_id=experiment.id %}" class="button warning">Run limited batch on Mechanical Turk Sandbox</a>
        {% else %}
        <a href="{% url 'request_final_signoff' experiment_id=experiment.id %}" class="button success" {% if not sufficient_funds %}disabled="disabled"{% endif %}>Request Final Sign off</a>
        {% endif %}
    </div>
</div>
{% endblock %}
