{% extends "experiment_creator/base.html" %}
{% load activity_tags experiment_creator_tags %}

{% block breadcrumbs %}
<li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
{% with course=experiment.group.course %}
<li><a href="{{course.get_absolute_url}}"><i class="fa fa-university"></i>&nbsp;{{course.name}} - {{course.term}} {{course.year}}</a></li>
{% endwith %}
<li><a href="{{experiment.group.get_absolute_url}}"><i class="fa fa-users"></i>&nbsp;{{experiment.group.name}}</a></li>
<li><a href="{{experiment.get_absolute_url}}"><i class="fa fa-flask"></i>&nbsp;{{experiment.name}}</a></li>
<li class="current">Staff Testing</li>
{% endblock breadcrumbs %}

{% block content %}
<div class="row">
    <div class="large-12 columns">
        <p>Status: {{experiment.get_status_display}}</p>
        {% render_experiment_test %}
        <hr/>
        <a href="{% url 'approve_experiment_running' experiment_id=experiment.id %}" class="button tiny radius success {% if experiment.status in 'RUN,ANL' %}disabled{% endif %}"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&nbsp;Approve for running</a>
        <a href="{% url 'reject_experiment_running' experiment_id=experiment.id %}" class="button tiny radius alert {% if experiment.status == 'ANL' %}disabled{% endif %}"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i>&nbsp;Send back to have stimuli corrected</a>
        {% if experiment.status in 'RUN,ANL' %}
        <a href="{% url 'prerun_check' experiment_id=experiment.id %}" class="button radius success">Prepare run</a>
        {% endif %}
    </div>
</div>
{% endblock %}
