{% extends "experiment_creator/base.html" %}
{% load experiment_creator_tags %}
{% block breadcrumbs %}
<li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
<li><a href="{{course.get_absolute_url}}"><i class="fa fa-university"></i>&nbsp;{{course.name}} - {{course.term}} {{course.year}}</a></li>
<li class="current"><i class="fa fa-users"></i>&nbsp;{{group.name}}</li>
{% endblock breadcrumbs %}

{% block content %}
<div class="row">
  <div class="large-12 columns">
    {% if group in user.course_groups.all %}
    <p>Group PIN: <span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" tabindex="1" title="Needed to join the group">{{ group.joining_pin }}</span></p>
    {% else %}
    <a href="{% url 'request_group_membership' group.id %}" class="button secondary"><i class="fa fa-users"></i>&nbsp;Join "{{group.name}}"</a>
    {% endif %}
    <h3>Members</h3>
    {% with total=group.get_members|length %}
    <p>{{group.name}} ({{total}} member{{total|pluralize}})</p>
    {% endwith %}
    <div class="row small-up-1 medium-up-3 large-up-4">
      {% for member in group.get_members|dictsort:"last_name" %}
      {# XXX: why am I not just using render_user inclusion tag? #}
      <div class="column">
        <div class="row">
          <div class="large-3 columns">
            {{ member|user_icon:50 }}
            {{member.username}}
          </div>
          <div class="large-9 columns">
            <p {% if member.is_staff %}class="staff"{% endif %}>{{member.profile.get_list_name}}</p> &lt;<a href="mailto:{{member.email}}">{{member.email}}</a>&gt;
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% if user in group.students.all or user.is_staff %}
    <h3>Projects and Experiments</h3>
      {% if group.project_set.all %}
      <ul>
        {% for project in group.project_set.all %}
        {% if project.active %}
        <li>
          <a href="{{project.get_absolute_url}}">{{project.name}}</a>
          {% if project.experiment_set.all %}
          <ul>
          {% for experiment in project.experiment_set.all %}
            <li><a href="{{experiment.get_absolute_url}}"><i class="fa fa-flask"></i>&nbsp;{{experiment.name}}</a></li>
          {% endfor %}
          </ul>
          {% endif %}
        </li>
        {% endif %}
        {% endfor %}
      </ul>
      {% else %}
      <p>No projects exist for this group</p>
      {% endif %}
    {% endif %}

  </div>
</div>
{% endblock content %}
