{% extends "experiment_creator/base.html" %}

{% block breadcrumbs %}
<li><a href="{% url 'dashboard' %}">Dashboard</a></li>
<li><a href="{{group.course.get_absolute_url}}">{{group.course.name}} - {{group.course.term}} {{group.course.year}}</a></li>
<li><a href="{{group.get_absolute_url}}">{{group.name}}</a></li>
<li>Join Group</li>
{% endblock breadcrumbs %}


{% block content %}
<div class="row">
  <div class="large-12 columns">
    <h3>Request To Join "{{group.name}}"</h3>
    <form enctype="multipart/form-data" action="{% url 'request_group_membership' group_id=group.id %}" method="post">
      {% csrf_token %}
      {{form.as_ul}}
      <input type="submit" class="button radius" value="Request Group Membership">
    </form>
  </div>
</div>
{% endblock content %}
