{% extends "experiment_creator/base.html" %}

{% load experiment_creator_tags %}

{% block breadcrumbs %}
<li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
<li><i class="fa fa-university"></i>&nbsp;Manage Courses</li>
{% endblock breadcrumbs %}


{% block content %}
<div class="row">
  <div class="large-12 columns">
    <a class="button success" href="{% url 'create_course' %}"><i class="fa fa-plus"></i>&nbsp;Create a Course</a>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <h1>Current Courses</h1>
    {% if current_courses %}
      {% for course in current_courses %}
      <div class="row courseblock">
        <div class="large-12 columns">
          <h3>{{course.name}} ({{course.term}} {{course.year}})</h3>
          <div class="row">
            <div class="large-12 columns">
              <h4>Instructors</h4>
              <div class="row small-up-1 medium-up-3 large-up 4">
                  <a href="#" class="success button disabled">Add instructors</a>
                  <a href="#" class="alert button disabled">Remove instructors</a>
              </div>
              <div class="row small-up-1 medium-up-3 large-up-4">
                {% for i in course.instructors.all %}
                {% render_user i %}
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <h4>Students</h4>
              <div class="row small-up-1 medium-up-3 large-up-4">
                  <a href="{% url 'add_students_course' course.id %}" class="success button">Add students</a>
                  <a href="{% url 'remove_students_course' course.id %}" class="alert button">Remove students</a>
              </div>
              <div class="row small-up-1 medium-up-3 large-up-4">
                {% for s in course.students.all|dictsort:"last_name" %}
                {% render_user s %}
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <h4>Groups</h4>
              <div class="row small-up-1 medium-up-2 large-up-3">
                {% for group in course.coursegroup_set.all %}
                <div class="column groupblock">
                  <a href="{{ group.get_absolute_url }}"><i class="fa fa-users"></i>&nbsp;{{group.name}}</a>
                  <h5>Manage</h5>
                  <div class="button-group">
                    <a class="secondary button" href="{{ group.get_absolute_url }}"><i class="fa fa-eye"></i>&nbsp;View</a>
                    <a class="button" href="{% url 'email_group' group.id %}"><i class="fa fa-envelope-o"></i>&nbsp;Email</a>
                    <a class="success button" href="{% url 'manage_group' group.id %}"><i class="fa fa-pencil-square-o"></i>&nbsp;Edit</a>
                    <a class="alert button disabled" href="#"><i class="fa fa-ban"></i>&nbsp;Delete</a>
                  </div>
                  {% with members=group.students.all %}
                  {%if members %}
                  <h5>Members</h5>
                  <ul class="fa-ul">
                    {% for m in members|dictsort:"last_name" %}
                    <li><i class="fa-li fa fa-user"></i>{{m.profile.get_list_name}} ({{m.username}}) <a href="mailto:{{m.email}}"><i class="fa fa-envelope-o"></i>&nbsp;{{m.email}}</a></li>
                    {% endfor %}
                  </ul>
                  {% else %}
                  <p>Group has no members. <a class="success button small" href="{% url 'add_members_group' group.id %}"><i class="fa fa-plus"></i>&nbsp;Add members</a></p>
                  {% endif %}
                  {% endwith %}
                </div>
                {% endfor %}
                <div class="column">
                  <a class="button radius success" href="{% url 'create_group' year=course.year term=course.term course_slug=course.slug %}"><i class="fa fa-plus"></i>&nbsp;Create A New Group</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    {% else %}
    <p>There are no current courses</p>
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <h1>Past Courses</h1>
    {% if past_courses %}
    <ul>
      {% for course in past_courses %}
      <li>{{course.name}} ({{course.term}} {{course.year}})</li>
      {% endfor %}
    </ul>
    {% else %}
    <p>There are no past courses</p>
    {% endif %}
  </div>
</div>
{% endblock content %}
