{% extends "experiment_creator/base.html" %}
{% load experiment_creator_tags %}

{% block breadcrumbs %}
<li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
<li><a href="{{group.get_absolute_url}}"><i class="fa fa-users"></i>&nbsp;Manage {{group.name}}</a></li>
{% endblock breadcrumbs %}

{% block content %}
<div class="row">
  <div class="large-12 columns">
    <h3>Manage {{group.name}}</h3>
    <p>Group PIN: {{ group.joining_pin }}</p>
    <div class="row small-up-1 medium-up-3 large-up-4">
      {% for s in group.get_members|dictsort:"last_name" %}
      {% render_user s %}
      {% endfor %}
    </div>
  </div>
</div>
<div class="row">
  <div class="large-6 columns end">
    <div class="button-group">
      <a class="secondary button" href="{{ group.get_absolute_url }}"><i class="fa fa-eye"></i>&nbsp;View</a>
      <a class="success button" href="{% url 'add_members_group' group_id=group.id %}"><i class="fa fa-users"></i>&nbsp;Add members</a>
      <a class="alert button" href="{% url 'remove_members_group' group_id=group.id %}"><i class="fa fa-users"></i>&nbsp;Remove members</a>
      <a class="button" href="{% url 'email_group' group.id %}"><i class="fa fa-envelope-o"></i>&nbsp;Email</a>
      <a class="alert button disabled" href="#"><i class="fa fa-ban"></i>&nbsp;Delete</a>
    </div>
  </div>
</div>
{% endblock content %}
