<p>Go through each list of the experiment. Make sure:</p>
<ul class="fa-ul">
    <li><i class="fa-li fa fa-check"></i>Every sentence displays correctly</li>
    <li><i class="fa-li fa fa-check"></i>There are no typos</li>
    <li><i class="fa-li fa fa-check"></i>There are no grammatical errors</li>
    <li><i class="fa-li fa fa-check"></i>Every question displays correctly</li>
    <li><i class="fa-li fa fa-check"></i>The answer to every question is correct (feedback is provided on incorrect answers)</li>
    <li><i class="fa-li fa fa-check"></i>There are no line breaks right before or after critical regions</li>
    <li><i class="fa-li fa fa-check"></i>The experiment runs to the end</li>
    <li><i class="fa-li fa fa-check"></i>For at least one list, do the experiment like you are a participant. Read all instructions.
        Note the time it takes to get from intro screen to submit (round up when in doubt). There is a timer on the demo page to help. {% if user.is_staff %}
        Start with an estimate based on number of items. 60 items takes, on average, 30 minutes.{% endif %}
    </li>
</ul>
<hr/>
<ul class="inline-list fa-ul">
    {% for lst in experiment.lists.all %}
    <li><i class="fa-li fa fa-arrow-right"></i><a href="{% url 'spr_demo' experiment=experiment.name listid=lst.name %}" target="_blank">{{lst.name}}</a></li>
    {% endfor %}
</ul>
