{% extends "experiment_creator/base.html" %}

{% block breadcrumbs %}
<li><a href="{% url 'dashboard' %}">Dashboard</a></li>
<li><a href="{{course.get_absolute_url}}">{{course.name}} - {{course.term}} {{course.year}}</a></li>
<li><a href="{{group.get_absolute_url}}">{{group}}</a></li>
<li><a href="{{experiment.get_absolute_url}}">{{experiment.name}}</a></li>
<li class="current">Upload Experiment Stimuli</li>
{% endblock breadcrumbs %}


{% block content %}
<div class="row">
  <div class="large-12 columns">
    <h3>Upload Experiment Stimuli</h3>
    <form enctype="multipart/form-data" action="{% url 'upload_stimuli' year=course.year term=course.term course_slug=course.slug group_id=group.id slug=experiment.slug %}" method="post">
      {% csrf_token %}
      {{form.as_ul}}
      <input type="submit" class="button radius" value="Upload">
    </form>
  </div>
</div>
{% endblock content %}
