{% extends "experiment_creator/base.html" %}

{% load experiment_creator_tags %}

{% block breadcrumbs %}
<li><a href="{% url 'dashboard' %}">Dashboard</a></li>
{% with stimuli.group.course as course %}
<li><a href="{{course.get_absolute_url}}">{{course.name}} - {{course.term}} {{course.year}}</a></li>
{% endwith %}
<li><a href="{{stimuli.group.get_absolute_url}}">{{stimuli.group.name}}</a></li>
<li><a href="{{stimuli.experiment.get_absolute_url}}">{{stimuli.experiment.name}}</a></li>
<li class="current">Stimuli Preview</li>
{% endblock breadcrumbs %}

{% block content %}
<div class="row">
  <div class="large-12 columns">
    {% for row in parsed_stims %}
    <ul>
      <li>Row: {{row.row}}</li>
      <li>Item: {{row.item}}</li>
      <li>Experiment: {{row.experiment}}</li>
      <li>Condition: {{row.condition}}</li>
    </ul>
    <table class="stim_preview">
      <tr>{% for word in row.sentence.wordlist%}<td>{{forloop.counter0}}</td>{% endfor %}</tr>
      <tr>{% for word in row.sentence.wordlist%}<td>{{word}}</td>{% endfor %}</tr>
      <tr>{{row.sentence|regions_td}}</tr>
      <tr><td colspan="{{row.sentence.wordlist|length}}">{{row.sentence.original}}</td></tr>
      <tr><td colspan="{{row.sentence.wordlist|length}}">{{row.sentence.parsed}}</td></tr>
    </table>
    <hr/>
    {% endfor %}
  </div>
</div>
{% endblock content %}
