{% extends "experiment_creator/base.html" %}
{% load i18n %}

{% block title %}{% trans "Thanks for removing" %}.{% endblock %}

{% block content %}
<div class="row">
  <div class="large-12 columns">
    <h1>{% trans "Thanks for taking the time to improve the quality of discussion on our site" %}.</h1>
  </div>
</div>
{% endblock %}
