{% extends "experiment_creator/base.html" %}
{% load i18n %}

{% block title %}{% trans "Thanks for commenting" %}.{% endblock %}

{% block breadcrumbs %}
<li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
{% endblock %}

{% block content %}
<div class="row">
  <div class="large-12 columns">
    <h1>{% trans "Thank you for your comment" %}.</h1>
  </div>
</div>
{% endblock %}
