{% extends "experiment_runner/experiment_base.html" %}
{% load static staticfiles %}
{% block title %}Flex SPR{% endblock %}
{% block content %}
<div id="instructions">
    <img src="{% static 'img/URlogo.png' %}" width="410" height="85" alt="University of Rochester"/>
    <p>In this task you'll read simple sentences and answer questions about them.
       The experiment will take about 25-35 minutes.</p>
    <p>Sometimes it can happen that technical difficulties cause experimental
        scripts to freeze so that you will not be able to submit a HIT. We are
        trying our best to avoid these problems. Should they nevertheless occur,
        we urge you to contact us.</p>
    <div id="consent">
        By accepting this HIT, you confirm that you are willing to participate
        in this experiment, and that you agree that the data you provide by
        participating can be used for the University of Rochester's Brain and
        Cognitive Sciences 152: Language &amp; Psycholinguistics course (no
        identifying information will be used). We will only share data with other
        researchers and only if it is for non-commercial use. Identifying
        information will <span style="font-weight:bold;">never</span> be shared
        (your MTurk ID will be replaced with an arbitrary alphanumeric code before
        being shared with BCS152 students or anyone else).
    </div>
        {% if not preview %}
        <p style="font-weight:bold;">Once you press the button below, these instructions
        will disappear, so make sure you understand them fully before you start.</p>
        <button type="button" id="endinstr">I confirm that I have read and understood the instructions and want to start the experiment</button>
        {% endif %}
</div>
<div id="flashcontent"></div>
{% if demo %}
<div id="timernode"></div>
{% endif %}
{% endblock %}
{% block formfields %}
    <input type="hidden" id="flashversion" name="flashversion" value="NA"/>
{% endblock %}

{% block extrajs %}
    <script type="text/javascript">
        flashvars = {exp: "{{condition}}", console: "true", path: "{% get_static_prefix %}"};
        swfurl = window.location.protocol + "//" + window.location.host + "{% static 'flexspr_4.15.swf' %}"
    </script>
    {% if not preview %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/swfobject/2.2/swfobject.js" integrity="sha256-hneXGxGczbgq9pf/DgjyGEkNFRFvIh1EMB8cyHl+Z9Q=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/webspr-bcs152.js' %}"></script>
    {% endif %}
    {% if demo %}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.min.js" integrity="sha256-cLWs9L+cjZg8CjGHMpJqUgKKouPlmoMP/0wIdPtaPGs=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.min.js" integrity="sha256-JIW8lNqN2EtqC6ggNZYnAdKMJXRQfkPMvdRt+b0/Jxc=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.38/browser.min.js" integrity="sha256-0qXTMQRluMHQsawOwSYblgYSXkmuvZ2ygOkj7y6TtGU=" crossorigin="anonymous"></script>
    <script type="text/babel" src="{% static 'js/timer.jsx' %}"></script>
    {% endif %}
{% endblock %}
