{% extends "experiment_runner/base.html" %}
{% block extracss %}
    {% if jqueryui %}
        <link rel="stylesheet" type="text/css" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/redmond/jquery-ui.css"/>
    {% endif %}
    <style type="text/css">
        #comment, #submit {display:none;}
    </style>
    {% block exptcss %}{% endblock %}
    {% block headjs %}{% endblock %}
{% endblock %}

{% block form %}
{% if formtype == 'sandbox' %}
    <form id="results" method="post" action="https://workersandbox.mturk.com/mturk/externalSubmit">
{% elif formtype == 'mturk' %}
    <form id="results" method="post" action="https://www.mturk.com/mturk/externalSubmit">
{% else %}
    <form id="results" method="post" action="{% url 'response_repeater' %}">
{% endif %}
{% block formfields %}{% endblock %}
{% block exptformfields %}{% endblock %}
<input type="hidden" id="experiment" name="experiment" value="{{experiment}}"/>
<input type="hidden" id="list" name="list" value="{{condition}}"/>
<input type="hidden" id="assignmentId" name="assignmentId" value="{{amz.assignmentId}}"/>
<input type="hidden" id="browserid" name="browserid" value="NA"/>
<div id="comment">
    <p>If you are interested in hearing how the experiments you are
        participating in help us to understand the human brain, feel
        free to subscribe to our <a href="https://hlplab.wordpress.com/">
            lab blog</a> on which we announce new findings. Note that
        typically about one year passes before an experiment is
        published.</p>
    <p>Feedback on this HIT (optional):</p>
    <p><textarea id="commentarea" name="comment" cols="80" rows="3"></textarea></p>
</div>
<button type="submit" name="submit" id="submit" disabled="disabled">Submit</button>
</form>
<!--[if lt IE 9]>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <![endif]-->
<!--[if gte IE 9]><!-->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<!--<![endif]-->
{% if formtype == 'live' %}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-migrate/1.4.1/jquery-migrate.min.js"></script>
    {% else %}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-migrate/1.4.1/jquery-migrate.js"></script>
{% endif %}
{% endblock %}

{% block extrajs %}
{% if jqueryui %}
    <script type="text/javascript">$.uiBackCompat = false;</script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
{% endif %}
{% block exptjs %}{% endblock %}
{% endblock %}
