{% extends "experiment_runner/base.html" %}
{% block title %}Available experiments{% endblock %}
{% block content %}
    <div id="experiments">
        <h2>Experiments</h2>
        <p>Total: {{experiments|length}} experiments</p>
        <ul>{% for e in experiments %}
            <li>
                <a href="{% url 'experiment_detail' experiment=e.name %}">{{e.name}}</a>
                <a href="{% url 'spr_demo' experiment=e.name %}">(demo - random)</a>
                <ul class="inline-list">
                {% for lst in e.lists.all %}
                <li><a href="{% url 'spr_demo' experiment=e.name listid=lst.name %}">(demo - {{lst.name}})</a></li>
                {% endfor %}
                </ul>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
