header, footer {
  background-color: #cccccc;
  padding: 1em;
}

header {
  margin-bottom: 2em;
}

footer p {
  font-size: small;
}

.errorlist {
  color: red;
  list-style: none;
}

.needsaction {
  color: orange;
}

.revision {
  color: red;
}

.approved {
  color: #26D235;
}

.hidden {
  display: none;
}

.stimerrors {
  max-height: 33vh;
  overflow-y: scroll;
  overflow-x: visible;
}

.button.back {
  background: black;
}

.staff:after {
  content: '\2713';
  line-height: 1;
  color: green;
}

.stim_preview td {
  text-align: center;
  border: 1px solid black;
}

.fi-prohibited {
  color: red;
}

.fi-alert {
  color: yellow;
}

.fi-check {
  color: green;
}

.messages {
  position: fixed;
  top: 3em;
  left: 3em;
}

.user-icon-25 {
  border-radius: 15px;
  background-size: cover;
  display: block;
  height: 25px;
  width: 25px;
}

.user-icon-50 {
  border-radius: 30px;
  background-size: cover;
  display: block;
  height: 50px;
  width: 50px;
}

.user-icon-75 {
  border-radius: 50px;
  background-size: cover;
  display: block;
  height: 75px;
  width: 75px;
  }

.user-icon-75 p {
  text-align: center;
  position: relative;
  top: 75px;
}

.projects ul {
  list-style: none;
}

.courseblock {
  background-color: #eeeeee;
}

.courseblock .row {
  margin-bottom: 1rem;
}

.groupblock {
  background-color: #e5e5e5;
  padding-top: 1em;
}

/* comments */
.commentbox {
  background: #f6f6f6;
  margin-bottom: 1em;
  padding: 1em;
}

