{% load staticfiles %}
{% load experiment_creator_tags %}
{# this version of base.html just exists to override allauth's #}
<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en"> <![endif]-->
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %} {% endblock title %}</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}" />
    {% block site_css %}{% endblock site_css %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
  </head>
  <body>
    <header>
      {% if messages %}
      <div class="row">
        <div class="messages large-6 columns end">
          {% for msg in messages %}
            <div class="{{msg.level_tag|alert_level}} callout small" data-closable>
              <p><i class="fa fa-{{msg.level_tag|icon_level}}" style="font-size:x-large;"></i>&nbsp;{{msg.message}}</p>
              <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}
      <div class="row">
        <div class="large-2 columns end">
          <img src="{% static "UR.v2.svg" %}" width="123" height="100" alt="University of Rochester"/>
        </div>
      </div>
    </header>
    <div class="row">
      <div class="large-12 columns">
        {% block content %} {% endblock content %}
      </div>
    </div>
    <footer>
      <div class="row">
        <div class="large-8 columns large-centered">
          <p>Copyright © 2015-2016 University of Rochester - Brain and Cognitive Sciences Department</p>
          <p>Experiencing technical problems? Contact us: <a href="mailto:{{ADMIN_CONTACT_EMAIL.email}}">{{ADMIN_CONTACT_EMAIL.name}}</a></p>
      </div>
    </div>
    </footer>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/what-input/2.1.1/what-input.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.js"></script>
    <script type="text/javascript">$(document).foundation();</script>
    {% block site_js %}{% endblock site_js %}
  </body>
</html>
